.root{
    -fx-background-color: #2A2C2B;

}

.label{
    -fx-background-color: #2A2C2B;
    -fx-text-fill: #E74C3C;
    -fx-font-family: System;
    -fx-font-size: 16px;
    -fx-alignment: bottom-left;
}

.timer{

    -fx-text-fill: #E74C3C;
    -fx-font-size: 50;

}

.question{

    -fx-font-size: 20px;

}
.customLine{

    -fx-cursor: hand;
    -fx-stroke-width: 8px;

}
.customLine:hover{

    -fx-stroke: #ECF0F1;

}
